<header>

  <mat-toolbar>

    <div class="logo">
      <span>P</span>J
    </div>

    <nav>
      @for (item of navItems(); track item.id) {
      <button mat-button [class.active]="activeSection() === item.id" (click)="onNavClick(item.id)">
        {{ item.label }}
      </button>
      }
    </nav>

    <div class="actions">

      <a href="https://www.linkedin.com/in/parivallalj" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin linkedin-icon"></i>
      </a>

    </div>

  </mat-toolbar>

</header>