.tech {

  position: absolute;

  width: 60px;

  height: 60px;

  background: white;

  border-radius: 18px;

  display: flex;

  align-items: center;

  justify-content: center;

  font-weight: bold;

  box-shadow: 0 12px 30px rgba(0, 0, 0, .1);

  animation: float 3s ease-in-out infinite;

}

.angular {

  top: -80px;

  left: 280px;

  background: #dc2b68;
  color: #fff;

}

.ngrx {

  top: 320px;

  right: 30px;
  color: #fff;

  background: #571f7c;

}

.ts {

  top: 60px;

  right: 40px;
  color: #fff;

  background: #235a97;

}

.js {

  bottom: -90px;

  right: 300px;

  background: #F7DF1E;

}

.rx {

  top: 60px;

  left: 40px;

  background: #ec0f8f;
  color: #fff;

}

.nx {

  top: 320px;

  left: 30px;

  background: #18181a;

  color: #fff;


}